.navigationBar {
  display: flex;
  flex-direction: column;
  background-color: #32aaae;
  overflow: hidden;
}

.ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.leftItems{
  padding: 0;
  margin: 0;
  display: flex;
}

.rightItems{
  padding: 0;
  margin: 0;
  display: flex;
}

.navigationBar button {
  display: grid;
  background-color: #32aaae;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-family: 'League Spartan';
  font-style: normal;
  cursor: pointer;
  width: 100px;
  border-radius: 0;
  position: relative;
  float: right;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 20px;
  align-items: flex-start;
}

.navigationBar button.split {
  padding: 0;
  background-color: #32aaae;
  border: none;
  cursor: pointer;
  height: 50px;
  width: 50px;
  float: left;
  margin-left: 0;
}

.navigationBar text.split {
  font-size: 50px;
  font-weight: 120;
  font-family: 'League Spartan';
  font-style: normal;
  margin-left: 0px;
  align-self: center;
}

.navigationBar button:hover {
  background-color: #18758f;
}

.navigationBar button.split:hover {
  background-color:  inherit;
}

.link:visited{
  color: inherit;
}

.logo {
  height: 50px;
  width: 50px;
}
